.home-container {
  display: flex;
  flex-direction: column;
  color: #fff;
  min-height: 100vh;
  width: 100%;
}

.heading-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
  padding: 0px;
  box-sizing: border-box;
}

.heading-container h1 {
  margin: 0;
}

.heading-container a {
  color: #1880db;
  font-weight: 700;
  text-decoration: none;
}

.home-content-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 10px;
  width: 100%;
}

.content-wrapper-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  font-size: 16px;
}

.small-container {
  display: flex;
  gap: 10px;
}

.inner-container {
  background-color: #000;
  margin: 10px;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 18px;
  font-weight: bold;
}

.inner-container:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}

.inner-container.small {
  width: 200px;
  height: 150px;
}

.inner-container.medium {
  width: 400px;
  height: 220px;
  flex-grow: 1;
}

.inner-container.large {
  width: 500px;
  height: 300px;
  flex-grow: 1;
}

.inner-container h2 {
  margin-bottom: 10px;
}

.inner-container a {
  color: #1880db;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  margin-top: auto;
}

#project_banner {
  width: 430px;
  height: auto;
  margin-top: 10px;
  border-radius: 10px;
}

@media (max-width: 1200px) {
  .home-content-container {
    flex-direction: column;
  }

  .content-wrapper-container {
    align-items: center;
  }

  .inner-container.small {
    width: 250px;
  }

  .inner-container.medium {
    width: 600px;
  }

  .inner-container.large {
    width: 600px;
  }
}

@media (max-width: 1000px) {
  .inner-container.small {
    width: 200px;
  }

  .inner-container.medium {
    width: 500px;
  }

  .inner-container.large {
    width: 500px;
  }
}

@media (max-width: 850px) {
  .inner-container.small {
    width: 150px;
  }

  .inner-container.medium {
    width: 400px;
  }

  .inner-container.large {
    width: 400px;
  }

  #project_banner {
    width: 400px;
  }
}

@media (max-width: 680px) {
  .inner-container.small {
    width: 100px;
    height: 100px;
  }

  .inner-container.medium {
    width: 300px;
  }

  .inner-container.large {
    width: 300px;
  }

  #project_banner {
    width: 280px;
  }
}

@media (max-width: 550px) {
  .small-container {
    flex-direction: column;
  }
  .inner-container.small {
    width: 250px;
  }
  .inner-container.medium {
    width: 250px;
  }

  .inner-container.large {
    width: 250px;
  }

  #project_banner {
    width: 240px;
  }
}

@media (max-width: 550px) {
  .home-content-container {
    flex-direction: column;
  }
  .small-container {
    flex-direction: column;
    align-items: center;
  }
  .inner-container.small {
    width: 250px;
    height: auto;
  }
  .inner-container.medium,
  .inner-container.large {
    width: 250px;
    height: auto;
  }
  #project_banner {
    width: 240px;
    height: auto;
  }
  .heading-container h1 {
    font-size: 1.5em;
  }
  .heading-container a {
    font-size: 14px;
  }
  .inner-container {
    padding: 20px;
    font-size: 1em;
  }
  .inner-container h2 {
    font-size: 1.2em;
  }
  .inner-container a {
    font-size: 14px;
  }
}

@media (max-width: 450px) {
  .inner-container.small {
    width: 200px;
    height: auto;
  }
  .inner-container.medium,
  .inner-container.large {
    width: 200px;
    height: auto;
  }
  #project_banner {
    width: 200px;
    height: auto;
  }
  .heading-container h1 {
    font-size: 1.2em;
  }
  .heading-container a {
    font-size: 12px;
  }
  .inner-container {
    padding: 15px;
    font-size: 0.9em;
  }
  .inner-container h2 {
    font-size: 1em;
  }
  .inner-container a {
    font-size: 12px;
  }
}

@media (max-width: 350px) {
  .inner-container.small {
    width: 150px;
    height: auto;
  }
  .inner-container.medium,
  .inner-container.large {
    width: 150px;
    height: auto;
  }
  #project_banner {
    width: 150px;
    height: auto;
  }
  .heading-container h1 {
    font-size: 1em;
  }
  .heading-container a {
    font-size: 10px;
  }
  .inner-container {
    padding: 10px;
    font-size: 0.8em;
  }
  .inner-container h2 {
    font-size: 0.9em;
  }
  .inner-container a {
    font-size: 10px;
  }
}
