.developer-container,
.intern-container {
  background-color: #000;
  margin: 30px;
  border-radius: 10px;
  color: #fff;
}

.title-container {
  padding: 10px;
  background-color: #919599;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.title-container h5 {
  color: #c76d06;
}

h4,
h5 {
  margin: 4px;
}
.job-description {
  padding: 10px;
}

li {
  padding: 5px;
}
